@import url('https://fonts.google.com/specimen/Outfit');
html{
  height: 100%;
}
body{
 background-color:  hsl(212, 45%, 89%);
 width: 100%;
  min-height:100%;
 margin: 0;
       display: flex;

     justify-content: center;

     align-items: center;

     text-align: center;
     align-contents:center;
     flex-box: wrap;
}
.container{
  background-color: white;
display:flex;
  border-radius: 13px;
  flex-direction: column;

}
img{
  width: 260px;
  height: 250px;
  border-radius: 13px;
}
.img{
  padding:10px 10px 1px 10px;
}

p{
 font-family: 'Outfit', Sans-Serif; 
}
.p {
  font-size: 2rem;
  font-weight: 700;
   margin:5px 15px 0 15px;
   color: hsl(218, 44%, 22%);
  
}
.p2{
color:  hsl(220, 15%, 55%);
  font-weight: 400;
  padding: 2px 12px 10px 12px;
  font-size: 2rem;
  width: 250px;
}
 .attribution { font-size: 11px; text-align: center; margin:4px; align-self:flex-end;}
    .attribution a { color: hsl(228, 45%, 44%); }
   

 
