body{

  margin: 0;

  padding: 0;

   background: hsl(212, 45%, 89%)  ;

}

main{

  background: hsl(212, 45%, 89%)  ;

  position:absolute;

  display: flex;

  align-items: center;

  justify-content: center;

  top: 50%;

  left:50%;

}

.card{

  width: 270px;



  background: white;

  border-radius: 15px;

  overflow: hidden;

  text-align: center;

 

}

.imageh img{

  width: 250px;

  border-radius: 13px;

  overflow: hidden;

}

.imageh{

  padding: 10px 5px 0 5px;

}

h1{

  font-size: 1.1rem;

  color:hsl(218, 44%, 22%);

  font-weight: 700;

  font-family: Outfit;

  text-shadow: 2px;

}

.card-b .h1{

  padding-left: 17px;

  padding-right: 17px;

  padding-top: 12px;

}

p{

  font-size: 0.89rem;

  color: hsl(220, 15%, 55%);

  font-family: outfit;

  font-weight: 400;

  opacity: .7;

}

.card-f .p{

  padding-top: 9px;

  padding-left: 15px;

  padding-right: 15px;

}
@media screen and (max-height:420px){
  .card{
  margin-top:10%;
  margin-bottom:10%;
  }
 }



     

     

  




 


  




 
   

 
